@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: none;
  text-decoration: none;
  list-style: none;
}
#main {
  font-family: "Outfit", sans-serif;
  margin: 30px 0;
}
.header {
  max-width: 1525px;
  height: 82px;
  background-color: #fff;
}
.cart {
  width: 28px;
  height: 28px;
}
.pet-cart-left {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 21px;
  justify-content:center;
  margin-top: 51px;
}
.pet-banner-image{
  width: 600px;
}
.all-pets {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.pet-images {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.pet-image{
  width: 137px;
  height: 137px;
}
.badge {
  width: 92px;
  height: 23px;
  padding: 2px 8px 2px 1px;
  background-color: #ed4444;
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
}
.pet-cart-right {
  margin-top: 10px;
}
.review {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 7px;
}
.reviews {
  color: #3f474b;
  font-size: 16px;
}
.rating {
  color: #3f474b;
  font-size: 18px;
}
.pet-title {
  position: relative;
  width: 438px;
  height: 54px;
  font-weight: 500;
  font-size: 60px;
  line-height: 106%;
  letter-spacing: -5%;
  color: #141b4d;
}
.trade-mark {
  position: absolute;
  bottom: 4px;
  font-size: 30px;
}
.cart-para {
  background-color: #f2f2f6a8;
  border-radius: 5px;
  margin-top: 23px;
  padding: 18px;
}
.para-image {
  margin-bottom: 5px;
  color: #3f446c;
  font-size: 16px;
}
.cart-list {
  margin-top: 15px;
}
.tick {
  color: #3385ff;
}
.tick-line {
  display: flex;
  color: #141b4d;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 1px solid #000000;
  padding-bottom: 10px;
}
.price-list {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #cf1010;
  margin-top: 40px;
}
.discount-price {
  font-size: 28px;
  text-decoration: line-through;
}
.base-price {
  font-size: 38px;
  font-weight: 500;
}
.cart-button {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 15px 0;
}
.btn {
  padding: 20px 90px 21px 74px;
  font-size: 22px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #1db469;
  color: #ffffff;
}
.item-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.inc-dre {
  width: 30.02px;
  height: 29.4px;
  background-color: #f7f7fb;
  color: #141b4d;
  font-weight: 600;
  font-size: 18px;
  border: none;
  border-radius: 50%;
}
.value {
  color: #141b4d;
  font-size: 500;
  font-size: 30px;
}
.payment-cards {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 18px;
}
.service-1 {
  display: flex;
  color: #7d7d7d;
  font-size: 15px;
  margin-top: 15px;
}
.blue {
  color: #3385ff;
  font-size: 500;
}
.carbon {
  width: 19px;
  height: 18px;
  margin-right: 4px;
}
.carbon-check {
  margin-top: 15px;
}

/* Media Queries */
/* small device */
@media screen and (max-width: 600px) {
  .pet-cart-left {
    width: 100%;
  }
  .pet-banner{
    width: 50%;
    margin: 0 auto 0 0;
  }
  .pet-images{
    width: 50%;
  }
  .pet-banner-image{
    width: 292px;
  }
  .pet-banner-image{
    width: 67px;
    height: 67px;
  }
  .pet-cart-left {
    flex-direction: column;
  }
  .all-pets {
    flex-direction: row-reverse;
  }
  .pet-images {
    flex-direction: column;
  }

}
